body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    color:#173573;
}

.mt-6{
    margin-top: 100px;
}

.text-title{
    color:#173573;
    font-size: 42px;
    font-weight: 700;
}

.text-content{
    font-size: 20px;
}

.navbar{
    margin: 0px;
    padding: 8px 110px;
    height: 90px;
    
}

.navbar_list_1 {
    margin-left: 25px;
    display: inline-block;
}

.navbar .btn {
    background-color: #173573;
    margin-left: 10px;
    color: white;
}


.navbar .btn:hover {
    color: #173573;
}

.container_button {
    width: 210px; 
    height: 45px; 
    border-radius: 5px;
    cursor: pointer;
}

.button img {
    margin-right: 15px;
}

.masuk {
    margin-left: 10px;
}

.content1{
    padding-left: 220px;
}

.gambar{
    width: 500px
}

.content2 img {
    width: 150px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content2_container_img {
    margin: 40px 0px;
}

.content3_text1 {
    padding-right: 25px;
}

.content3 img{
   width: 500px; 
   height: auto;
}

.content4 .col {
    margin-top: 15px;
    margin-bottom: 25px;
}

.content4_col_content {
    border: solid 2px white;
    border-radius: 5px; 
    width: 360px; 
    height: 150px;
    padding: 16px;
}

.content4 h1{
    font-size: 45px;
    margin-bottom: 10px;
}

footer p{
    margin:0px;
}


@media only screen and (max-width: 768px) {
    .navbar{
        margin: 0px;
        padding: 10px;
    }

    .navbar_list_1, .navbar_list_2{
        margin-left: 10px;
    }

    .navbar .btn{
        margin-left: 0px;
        width: 100%;
    }

    .content1{
        padding-left: 0px;
    }

    .content1 .row{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0px 50px;
    }

    .content1 p {
        font-size: 15px;
    }

    .content1 img{
        width: 200px;
        height: 200px;
    }
    

    .text-title{
        font-size: 30px;
    }

    .gambar{
        width: 100%;
        height: auto;
    }
    
    .content2 img {
        width: 100%;
        height: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .content3 img{
        width: 70%;
        height: auto;
    }

    .content3 .row1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .content3_text1 {
        padding-right: 24px;
        padding-left: 24px;
    }
    

    .content3 p {
        font-size: 16px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .content4_col_content {
        border-style: solid; 
        border-radius: 5px; 
        border-color: white; 
        width: 100%; 
        height: auto;
        padding: 0px;
        display: flex;
        padding-top: 10px;
    }

    .content4 p{
        font-size: 16px;
        font-weight:500;
    }

    .content4 h1{
        font-size: 32px;
    }

    .container_button {
        width: 50px; 
        height: 45px; 
        border-radius: 5px;
        cursor: pointer;
    }

    .button img {
        margin-right: 0px;
    }
    
    
}